{% extends 'layout.html' %}
{% block content %}
       <div id="container" class="full">

            <div id="map-wrap">
                <div id="map">
                    <div id="map_background"></div>

                    <div class="tile">
                        <div class="full active"></div></div>
                    <div class="tile"></div>
                    <div class="tile"></div>
                    <div class="tile"></div>
                    <div class="tile"></div>
                    
                    <div class="tile"></div>
                    <div class="tile"></div>
                    <div class="tile"></div>
                    <div class="tile"></div>
                    <div class="tile"></div>
                    
                    <div class="tile"></div>
                    <div class="tile"></div>
                    <div class="tile"></div>
                    <div class="tile"></div>
                    <div class="tile"></div>
                    
                    <div class="tile"></div>
                    <div class="tile"></div>
                    <div class="tile"></div>
                    <div class="tile"></div>
                    <div class="tile"></div>
                    
                    <div class="hero"></div>
                </div>
            </div>

            <div id="panel_wrap">

                <h2> Pills Here! </h2>

                <div class="slect_hero"> BACK </div>
                <div class="slect_hero positioning"> NEXT </div>


                <div id="hero_avatar"> Tumb </div>

                <h2>Gauge Bar</h2>
                <div id="gauge_bar">
                    <div class="gauge_bar_unit "> </div>
                    <div class="gauge_bar_unit"> </div>
                    <div class="gauge_bar_unit"> </div>
                    <div class="gauge_bar_unit"> </div>
                    <div class="gauge_bar_unit"> </div>
                    <div class="gauge_bar_unit empty_gauge_unit"> </div>
                </div>


                <h2>Actions</h2>
                <div class="attack_button"> 
                     <span> Attack </span>  <span> 9 </span> 
                </div>

                <div class="attack_button"> 
                    <span> Attack </span> <span> 9 </span> 
                </div>

                <div class="attack_button"> 
                    <span> Attack </span> <span> 9 </span> 
                </div>

                
                </div>


            </div>

            
        </div>

{% endblock %}