.hero.sushi{
	rgba(100, 100, 200, 0.8);
	box-shadow: 0px 6px 23px #555;
	width: 50px;
	padding: 5px;
}

.health_bar{
	background: rgba(0, 255, 0, 0.8);
	box-shadow: 0px 0px 6px #333;
	width: 50px;
	height: 3px;
	padding: 0px;
	position: absolute;
	top: -20px;
	left: 0;
	border-radius: 5px;
}


